*node_modules/*
node_modules
node_modules/*

*expo/*
expo/*
expo

*.expo/*
.expo/*
.expo

*expo-shared/*
expo-shared/*
expo-shared

*.expo-shared/*
.expo-shared/*
.expo-shared

*babel.config.js
babel.config.js